*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tabs_container{
    gap: 30px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgb(253, 43, 43);
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    user-select: none;
}
.tabs{
    transition: all 0.5s;
}
.tabs_content{
    margin: 0 auto;
    max-width: 500px;
    background-color: rgb(10, 10, 10);
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    user-select: none;
    color: whitesmoke;
    transition:all 0.5s;
}

@keyframes ani {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.tab_c{
    display: none;
    
}
.tab_heading{
    color: rgb(253, 43, 43);
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    display: none;
}
.box h1{
    color: rgb(247, 64, 64);
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"], .box input[type="password"], .box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #273746;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus{
    width: 280px;
    border-color: #a62828;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ECF0F1;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #E74C3C;

}

.btn1{
    border-radius: 50px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(238, 82, 82);
}